$base-font-family: 'Roboto', sans-serif;
$base-font-size: 14px;

$background-color: #2F103B;
$separator-color: #dddddd;

$primary-color: white;
$secondary-color: #89909F;

$footer-height: 80px;
$header-height: 60px;

$box-padding: 24px;
$button-height: 24px;

$content-width: 650px;
